html
    head
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')   
    body
      
        h1(align='center') Page not found
        
            .alert.alert-danger(align='center') 
                 strong  
                    h3
                         a(href='http://localhost:3000') Please login 