html
    head
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')   
    body
      
        h1(align='center') Login Page
        if(message)
            .alert.alert-danger(align='center') 
                 strong #{message}
        if(msg)
             .alert.alert-danger(align='center') 
                 strong #{msg}
        
        form(method='POST' action='/login')
                 div.form-group
                     label(for='name') Name:
                     input#name.form-control(type='text', placeholder='first and last' name='name')
                 
                 div.form-group
                     label(for='email') Email:
                     input#email.form-control(type='email', placeholder='name@email.com' name='email')
         
                 div.form-group
                     label(for='password') Password:
                     input#password.form-control(type='password' name='password')
                 
                 button.btn.btn-primary(type='submit') Log In